<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liux.easyreadingandroidmvp">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--//获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--//网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--//读取设备硬件信息，统计数据-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--//读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--//获取设备的网络状态，鉴权所需网络代理-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--//允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
                     tools:ignore="ProtectedPermissions"/>
    <!--//获取统计数据-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--//鉴权所需该权限获取进程列表-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--//使用步行AR导航，配置Camera权限-->

    <uses-permission android:name="android.permission.READ_LOGS"
                     tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".application.TinkerApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为(hua wei)刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米(xiao mi)刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--兼容Android N(7.0)或者以上的设备-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--网络判断的监听器-->
        <receiver
            android:name=".broadcastReceiver.NetBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--Mob-api-->
        <meta-data
            android:name="Mob-AppKey"
            android:value="221237342f7d8"/>
        <!--百度SDK-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vABkFBNQwLcHBo1RCfeRbf4olCKD864N" />

        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote">
        </service>

        <!--腾讯bugly 更新配置-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!--腾讯X5浏览器 内核视频播放器配置-->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--欢迎页面-->
        <activity android:name=".ui.activity.WelcomeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <!--有米广告页面-->
        <activity android:name=".ui.activity.SplashActivity"
                  android:theme="@style/Theme.SplashTheme"
                  android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!--这样设置configChanges属性 当横竖屏切换时，Activity的状态也没有改变。-->
        <activity android:name=".ui.MainActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".ui.activity.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.FunctionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.WeatherActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.FuLiActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.X5WebView.X5WebViewActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  tools:ignore="InnerclassSeparator"/>

        <activity android:name=".ui.activity.moreFuntion.HistroyTodayActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.HistoryDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.BaiduMapActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.CarSeriesNameActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.CarSeriesDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.CarAPIActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.AirQualityActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.DictionaryAPIActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.GreenDaoTestActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.BezierStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.CircleStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.ClassicsStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.activity.moreFuntion.smartRefresh.DeliveryStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.DropBoxStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.FlyRefreshStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.FunGameBattleCityStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.FunGameHitBlockStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.MaterialStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.PhoenixStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.StoreHouseStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.TaurusStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.WaterDropStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.smartRefresh.WaveSwipeStyleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.SmartRefreshLayoutActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.pickImageActivity.WxDemoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.WeiXinFriendActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.AboutWeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.activity.moreFuntion.X5VideoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.activity.moreFuntion.FuliDetailActivity"/>
        <activity android:name=".ui.activity.moreFuntion.CoordinatorLayoutPage.CoordinatorActivity"/>

    </application>

</manifest>